%%-*- mode: erlang -*-

{deps, [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
        {covertool, ".*", {git, "git@github.com:idubrov/covertool.git", {branch, "master"}}}
       ]}.

{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{require_otp_vsn, "R15|R16"}.

{clean_files, ["*.eunit", "ebin/*.beam", "rel/imagerl"]}.

% {cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

% {plugins, [rebar_covertool]}.

% {covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name

{edoc_opts, [
    {packages, false},
    {preprocess, true},
    {report_missing_types, true}
]}.


