[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {imagerl, [
            {cache_ttl, 86400},
            {wurfl_webservice_url,  "http://wurfl.local/webservice.php"},
            {connect_timeout, 5},  % Connection attempt timeout (seconds)
            {timeout, 10},         % Connection inactivity timeout (seconds)
            {max_width, 1000},     % Maximum width of rendered image (pixels)
            {max_height, 1000}     % Maximum height of rendered image (pixels)
           ]} 
].

