[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 % Enable webmachine access logs.
% {webmachine, [{webmachine_logger_module, webmachine_logger}]},

 {webmachine, [{log_handlers, [{webmachine_log_handler, ["log"]},
                               {webmachine_perf_log_handler, ["log"]}
                              ]}
              ]},

 {imagerl, [
            {cache_ttl, 86400},
            {max_width, 1000},                                              % Maximum width of rendered image (pixels)
            {max_height, 1000},                                             % Maximum height of rendered image (pixels)
            {source_image_caching_enabled, false},                                   % Enable source image caching
            {http_get_options, [
                {timeout, 10000},                                           % Connection attempt timeout (ms)
                {connect_timeout, 5000},                                    % Connection inactivity timeout (ms) 
                {autoredirect, false}
%                 {ssl, ssloptions()},
%                 {essl, ssloptions()},
%                 {proxy_auth, {userstring(), passwordstring()}},
%                 {version, http_version()},
%                 {relaxed, boolean()},
%                 {url_encode, boolean()}
            ]},
            {wurfl_webservice_url,  "http://wurfl.local/webservice.php"}
           ]} 
].

